Hi <%= @watcher.name %>,

<%= @post.user.name %> has just made a new post on cyhoeddwn.

Text: <%= @post.content %>
<% if @post.image.attached? %>
This post contains an image.
<% end %>
Posted at: <%= @post.updated_at %>
Link: <%= url_for @post %>

You have received this email because you are watching <%= @post.user.name %>. If you no longer wish to watch them, you can unwatch them by visiting their profile.