<h1>New post from a cyhoeddwn user you watch</h1>

<p>Hi <%= @watcher.name %>,</p>
<p><%= link_to @post.user.name, @post.user %> has <abbr title="<%= @post.updated_at %>">just</abbr> made a <%= link_to 'new post', @post %> on cyhoeddwn.</p>

<p>Text: <%= @post.content %></p>

<p>You have received this email because you are watching <%= @post.user.name %>. If you no longer wish to watch them, you can unwatch them by visiting their profile.</p>