<%= provide(:title, 'Log in')%>
<h1 class="center">Log in to cyhoeddwn</h1>
<section class="py-5 container">
  <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
    <%= f.submit "Log in", class: 'btn btn-primary' %>
    <%= f.label :remember_me, class: 'checkbox inline' do %>
      <%= f.check_box :remember_me %>
      <span>Remember me on this device</span>
    <% end %>
  <% end %>
  <p>Forgotten your password? <%= link_to "Click here", new_password_reset_path %> to reset it.</p>
  <p>New user? <%= link_to 'Click here', signup_path %> to register now!</p>
</section>
