<% provide(:title, 'Reset password') %>
<h1 class="center">Reset your password</h1>
<section class="py-5 container">
  <%= form_with(model: @user, url: password_reset_path(params[:id]), local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= hidden_field_tag :email, @user.email %>
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
    <%= f.submit 'Update password', class: 'btn btn-primary' %>
  <% end %>
</section>
