<% provide(:title, 'Forgot password') %>
<h1 class="center">Reset your password</h1>
<section class="py-5 container">
  <%= form_with(url: password_resets_path, scope: :password_reset, local: true) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
    <%= f.submit "Submit password reset", class: 'btn btn-primary' %>
  <% end %>
</section>
