<h1>Let's get you going in cyhoeddwn again!</h1>
<p>To reset your cyhoeddwn password, click the link below:</p>
<%= link_to "Reset password", edit_password_reset_url(@user.reset_token, email: @user.email) %>
<p>This link will expire in two hours.</p>
<p>If you did not request your password to be reset, you can safely ignore this email. Your password will remain unchanged.</p>
