To reset your cyhoeddwn password, click the link below:
<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>
This link will expire in two hours.
If you did not request your password to be reset, you can safely ignore this email. Your password will remain unchanged.
