$primary: blueviolet;
$state-danger-text: #a94442 !default;

.white-link {
  a {
    color: white;
  }

  a:hover {
    color: white;
    text-decoration: none;
  }
}

.no_overflow {
  overflow: auto;
}

// Import Bootstrap v5
@import "~bootstrap/scss/bootstrap";

/* general */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* header */

#logo {
  float: left;
  margin-left: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-right: 15px;
}

/* mixins */

$gray-medium-light: #eaeaea;

@mixin box-sizing {
  -mox-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* misc */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}

.main_container {
  margin: 10px;
}

.center {
  text-align: center;
}

/* user page */

aside {
  section.user_info {
    margin-top: 20px;
  }

  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid lightgrey;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $primary;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.user.follow {
  padding: 0;
}

/* forms */

input,
textarea,
select,
.uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box-sizing;
}

input {
  height: auto !important;
}

#error-explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form_control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* users index */

.user {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-medium-light;
  }
}

/* bio */

.bio {
  background-color: $gray-medium-light;
  margin: 1px;
  padding: 5px;
}

/* posts */

.posts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 5px;
      max-width: 100%;
    }
  }
  .timestamp {
    color: gray;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

.memo_card {
  background-image: linear-gradient(
      180deg,
      white 6rem,
      #f0a4a4 calc(6rem),
      #f0a4a4 calc(6rem + 4px),
      transparent 2px
    ),
    repeating-linear-gradient(
      0deg,
      transparent,
      transparent 3rem,
      #ddd 2px,
      #ddd calc(3rem + 2px)
    );
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  height: 28rem;
  width: 60%;
  font-size: 24pt;

  margin: auto;
  position: relative;
  top: 50%;
  display: block;
  clear: both;
}

.memo_user {
  height: calc(6rem + 4px);
  font-size: 32pt;
}

.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.memo_image {
  max-height: 75vh;
  max-width: 75vw;
}
