<div class="bio">
  <b>About me:<br>
  </b>
  <small>
    <% unless @user.bio.nil? or @user.bio.empty? %>
      <%= @user.bio %>
    <% else %>
      <%= @user.name %> is a cyhoeddwn user just like you!
      You can add a bio by clicking 'Edit profile' in the drop down!
    <% end %>
  </small>
</div>
