<%= form_with(model: current_user.active_observerships.find_by(watched_id: @user.id),
              html: { method: :delete }, remote: true) do |f| %>
  <%= f.submit 'Unwatch', class: 'btn btn-secondary w-100' %>
<% end %>
