<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <br><small>
    Followers: <%= user.followers.count %> | Following: <%= user.following.count %>
  <% if not user.bio.nil? %>
    | <%= user.bio %>
  <% end %>
  </small>
  <% if current_user.admin? && !current_user?(user) %>
    |  <%= link_to 'delete', user, method: :delete,
                                data: { confirm: 'Are you sure about this?' } %>
  <% end %>
</li>
