<%= form_with(model: current_user.active_observerships.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :watched_id, @user.id %></div>
  <%= f.submit 'Watch', class: 'btn btn-primary w-100' %>
<% end %>
