<%= provide(:title, 'Edit user')%>
<%= provide(:button_text, 'Save changes')%>
<h1 class="center">Edit your details</h1>
<section class="py-5 container">
  <%= render 'form' %>
  <div class="gravatar_edit">
    <%= gravatar_for @user %>
    <a href="https://gravatar.com/emails" target="_blank" rel="noopener">Change my profile picture</a>
  </div>
</section>
