<% provide(:title, 'All users') %>
<h1>All users</h1>
<%# pagination doesn't look right (nav for pagination), probably a bootstrap import problem %>
<%= will_paginate %>
<ul class="user">
  <%= render @users %>
</ul>
<%= will_paginate %>
