<%= provide(:title, 'Registration') %>
<%= provide(:button_text, 'Create my account') %>
<h1 class="center">Register for a cyhoeddwn account</h1>
<section class="py-5 container">
  <%= render 'form' %>
</section>
