<%= provide(:title, "Talk:#{@user.name}") %>
<div class="row">
  <aside class="col-md-4">
    <section class=user-info>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <%= link_to "View posts (#{@user.posts.count})", @user, class: 'btn btn-outline-primary btn-sm' %>
    </section>
    <section>
      <%= render 'bio' %>
    </section>
    <section class="stats">
      <%= render 'follow_form' if logged_in? %>
      <%= render 'shared/stats' %>
      <%= render 'shared/comment_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @conversations.any? %>
      <% @conversations.each do |c| %>
        <ul class="posts">
            <li id="conversation-<%= c.id %>">
                <%= link_to gravatar_for(c.commenter, size: 50), c.commenter %>
                <span class="user"><%= link_to c.commenter.name, c.commenter %></span>
                <span class="content"><%= c.comment %></span>
                <span class="timestamp">
                    Posted <%= time_ago_in_words(c.created_at) %> ago.
                    <small>
                      <% if current_user?(c.commenter) %>
                        <%= link_to "Delete comment.", c, method: :delete,
                                                    data: { confirm: 'Are you sure?' } %>
                      <% end %>
                    </small>
                </span>
            </li>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
