<%= provide(:title, "Posts:#{@user.name}") %>
<div class="row">
  <aside class="col-md-4">
    <section class=user-info>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <%= link_to "View talk page (#{@user.received_comments.count})", received_comments_user_path, class: 'btn btn-outline-primary btn-sm' %>
    </section>
    <section>
      <% if current_user.try(:admin?) && !current_user?(@user) %>
      <%= link_to 'Close this user\'s account', @user, method: :delete, data: { confirm: 'Are you sure about this?' } %>
      <% end %>
      <%= render 'bio' %>
    </section>
    <section class="stats">
      <div class="btn-group-lg d-flex" role="group" aria-label="Basic example">
        <%= render 'follow_form' if logged_in? %>
        <%= render 'watch_form' if logged_in? %>
      </div>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.posts.any? %>
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% else %>
      <h3>No posts yet!</h3>
    <% end %>
  </div>
</div>
