<%= form_with(model: @conversation, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
        <%= f.text_area :comment, placeholder: 'Leave a comment' %>
    </div>
    <%= hidden_field_tag :recipient_id, params[:id] %>
    <%= f.submit 'Post', class: 'btn btn-primary' %>
<% end %>