<%= form_with(model: @post, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, placeholder: 'Compose new post...' %>
  </div>
  <%= f.submit yield(:button_text), class: 'btn btn-primary' %>
  <span class="image">
    <%= f.label :image %>
    <%= f.file_field :image, onchange: 'check_size()', id: 'file', accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>
<%# Script below adapted from https://www.geeksforgeeks.org/validation-of-file-size-while-uploading-using-javascript-jquery/ %>
<script type="text/javascript">
  check_size = () => {
    const fi = document.getElementById('file');
    if (fi.files.length > 0) {
      for (const i = 0; i <= fi.files.length - 1; i++) {
        const fsize = fi.files.item(i).size;
        const file = Math.round((fsize/(1024*1024)));
  
        if (file >= 5) {
          alert("Maximum file size is 5MB. Please choose a smaller file.");
          document.getElementById('post_image').value = '';
        }
      }
    }
  }
</script>
