<div class="col-md-6">
  <h3>Reviews</h3>
  <div class="btn-group container">
    <% if @post.user != current_user %>
      <%= link_to 'Create review', new_review_path(id: @post.id), class: "btn btn-primary btn-block" %>
    <% end %>
  </div>
  <% if @reviews.any? %>
    <ol class="posts">
      <%= render @reviews %>
    </ol>
  <% else %>
    <div class="container">
      <div class="alert alert-info">
        There are no reviews for this post yet
      </div>
    </div>
  <% end %>
</div>
