<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Welcome to cyhoeddwn!</h1>
      <p class="lead text-muted">cyhoeddwn lets you display user created content on connected displays located in your community</p>
      <p>
        <%= link_to "Create an account", signup_path, class: "btn btn-primary my-2" %>
        <%= link_to "Log in", login_path, class: "btn btn-secondary my-2" %>
      </p>
    </div>
  </div>
</div>
</section>
