<%= provide(:title, 'Home')%>
<%= provide(:button_text, 'Post')%>
<main>
  <% if logged_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= render 'shared/user_info' %>
        </section>
        <section class="stats">
          <%= render 'shared/stats' %>
        </section>
        <section class="post_form">
          <%= render 'shared/post_form' %>
        </section>
      </aside>
      <div class="col-md-8">
        <h3>Post feed</h3>
        <%= render 'shared/feed' %>
        <% if current_user.following.count == 0 %>
          <p>Hey <%= current_user.name %>, it looks like you're not following anyone. Get started by looking at <%= link_to 'other users', users_url %> on cyhoeddwn, you can follow them by visiting their profiles!</p>
          <p>Wondering what to do first? Why not visit the <%= link_to 'user guide', 'https://help.cyhoeddwn.wales/docs/getting_started/index/' %> section of the guide?</p>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= render 'not_logged_in' %>
  <% end %>
</main>
