Hi <%= @post.user.name %>,

We are happy to announce that the post you updated <%= time_ago_in_words(@post.updated_at) %> ago has passed community moderation and will now be displayed on cyhoeddwn!
As a reminder, this is the post that contains <%= "'#{@post.content}'" %>.
If you have time, make sure you thank the <%= pluralize(@post.reviews.count, 'person') %> that let your post flourish!

Your post: <%= url_for @post %>