<h1>Your post has been approved!</h1>

<p>Hi <%= @post.user.name %>,</p>
<p>We are happy to announce that <%= link_to 'the post', @post %> that you updated <%= time_ago_in_words(@post.updated_at) %> ago has passed community moderation and will now be displayed on cyhoeddwn!</p>
<p>As a reminder, this is the post that contains <%= "'#{@post.content}'" %>.</p>
<p>If you have time, make sure you thank the <%= link_to pluralize(@post.reviews.count, 'person'), @post %> that let your post flourish!</p>