<h1>New comment on a cyhoeddwn talk page you watch</h1>

<p>Hi <%= @watcher.name %>,</p>
<p><%= link_to @conversation.commenter.name, @conversation.commenter %> has just posted a new comment on the <%= link_to 'talk page', received_comments_user_url(@user) %> of <%= link_to @user.name, @user %>.</p>

<blockquote>
  <%= @conversation.comment %>
</blockquote>

You have received this email because you are watching <%= link_to @user.name, @user %>. If you no longer wish to watch them, you can unwatch them by visiting their profile on cyhoeddwn.