<h1>New cyhoeddwn talk page comment</h1>

<p>Hi <%= @user.name %>,</p>

<p>You have a  <abbr title="Sent at <%= @conversation.created_at %>">new comment</abbr> on your cyhoeddwn <%= link_to 'talk page', received_comments_user_url(@user) %> from <%= link_to @conversation.commenter.name, @conversation.commenter %>:</p>

<blockquote>
  <%= @conversation.comment %>
</blockquote>
