Hi <%= @watcher.name %>,

<%= @conversation.commenter.name %> has just posted a new comment on the talk page of <%= @user.name %>.

> <%= @conversation.comment %>
Sent at <%= @conversation.created_at %>

Talk page of <%= @user.name %>: <%= url_for received_comments_user_url(@user)%>

You have received this email because you are watching <%= @user.name %>. If you no longer wish to watch them, you can unwatch them by visiting their profile on cyhoeddwn.