Hi <%= @user.name %>,

You have a new comment on your cyhoeddwn talk page from <%= @conversation.commenter.name %>:

> <%= @conversation.comment %>
Sent at <%= @conversation.created_at %>

Your talk page: <%= url_for received_comments_user_url(@user)%>