<div class="container-fluid no-padding bg-dark">
  <div class="row">
    <div class="col">
      <%= link_to image_tag('cyhoeddwn_full_text_logo_inverted.png', height: "40"), root_path %>
    </div>
    <div class="col text-white text-center align-middle">
      <h3><%= display_post_number(yield(:post_number)) %></h3>
    </div>
    <div class="col text-white text-center align-middle">
      <h3><%= Time.now.strftime("%A %-d %B %Y %R") %></h3>
    </div>
  </div>
</div>
