<div class="container">
  <div class="memo_card card">
    <div class="memo_user row">
      <div class="col-md-2">
        <%= link_to gravatar_for(post.user, size: 90), post.user %>
      </div>
      <div class="user_name col-md-5">
        <%= post.user.name %>
      </div>
    </div>
    <div class="memo_content">
      <%= post.content %>
    </div>
  </div>
</div>
