<ol class="posts">
  <li id="post-<%= post.id %>">
    <div class="container mx-auto d-block">
      <%= image_tag(post.image, class: 'mx-auto d-block memo_image') if post.image.attached? %>
      <%= link_to gravatar_for(post.user, size: 50), post.user %>
      <span class="user"><%= link_to post.user.name, post.user %></span>
      <span class="content">
        <%= post.content %>
      </span>
    </div>
  </li>
</ol>
