document.querySelector(".content_holder").innerHTML = "
<%= escape_javascript(
    if @post.image.attached?
      render partial: 'memo_with_image', object: @post, as: 'post'
    else
      render partial: 'index_card', object: @post, as: 'post'
    end
  ) %>
";
