<%= javascript_pack_tag 'display' %>
<% if @post.nil? %>
  <%= render partial: 'no_posts' %>
<% else %>
  <% provide(:title, "Content from #{@post.user.name}") %>
  <% provide(:post_number, @post.id.to_s) %>
  <%= csrf_meta_tag %>
  <div class="content_holder">
    <% if @post.image.attached? %>
      <%= render partial: 'memo_with_image', object: @post, as: 'post' %>
    <% else %>
      <%= render partial: 'index_card', object: @post, as: 'post' %>
    <% end %>
  </div>
  <div class="jumbotron text-center">
    <hr class="my-4">
    <p class="lead">Want to look at this post later? Search for post no. <%= @post.id %> on the cyhoeddwn website!</p>
  </p>
</div>
<% end %>
