<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: 50), post.user %>
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="content">
    <%= post.content %>
    <%= link_to image_tag(post.display_image), post.image if post.image.attached? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago. Last edit <%= time_ago_in_words(post.updated_at) %> ago.
    <br>
    <small>
      <% if current_user?(post.user) %>
        <%= link_to "Delete post.", post, method: :delete,
                                    data: { confirm: 'Are you sure?' } %>
        <%= link_to "Edit post.", edit_post_path(post) %>
      <% end %>
      <%= link_to pluralize(post.reviews.count, "review"), post %>
      <% if post.approval_status %>
        <span class="badge bg-success">Approved</span>
      <% else %>
        <span class="badge bg-danger">Not approved</span>
      <% end %>
    </small>
  </span>
</li>
