<%= provide(:title, 'Review post') %>
<div class="row">
  <h1>Post review</h1>
  <div class="col-md-6">
    <h3>Candidate post</h3>
    <ol class="posts">
      <%= render @post %>
    </ol>
  </div>
  <%= render 'shared/review_list' %>
</div>
