<li id="review-<%= review.id %>">
  <span class="approval_status">
    <% if review.approved == true %>
      <div class="alert alert-success">
        <%= review.author.name %> has approved this content for display!
      </div>
    <% else %>
      <div class="alert alert-danger">
        <%= review.author.name %> has rejected this content for display
      </div>
    <% end %>
  </span>
  <%= link_to gravatar_for(review.author, size: 50), review.author %>
  <span class="user"><%= link_to review.author.name, review.author %></span>
  <span class="content"><%= review.comment %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(review.created_at) %> ago.
    <small>
      <% if current_user?(review.author) %>
        <%= link_to "Delete review.", review, method: :delete,
                                    data: { confirm: 'Are you sure?' } %>
      <% end %>
    </small>
  </span>
</li>
