<%= form_with(model: @review, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :comment %>
  <%= f.text_area :comment, placeholder: 'Compose new review...' %>
  <%= f.label :approved, class: 'checkbox inline' do %>
    <%= f.check_box :approved %>
    <span>Approve this post?</span>
  <% end %>
  <%= hidden_field_tag :post_id, @post.id %>
  <%= f.submit 'Post Review', class: 'btn btn-primary' %>
<% end %>
