<%= provide(:title, 'Add review') %>
<div class="row">
  <h1>Write a review</h1>
  <div class="col-md-6">
    <h3>Candidate post</h3>
    <ol class="posts">
      <%= render @post %>
    </ol>
  </div>
  <div class="col-md-6">
    <h3>Your review</h3>
    <%= render 'review_form' %>
  </div>
</div>
