<footer class="footer">
  <small>
    Need some more information? Visit <%= link_to "the Yggdrasil", 'https://help.cyhoeddwn.wales' %> to help you find your way.<br>
    cyhoeddwn, made with ❤️ by <a href="https://dev.becquerel.me">Genevieve Clifford</a>.
  </small>
</footer>
