<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <% if logged_in? %>
      <h5 class="text-white h4">Hi <%= current_user.name %>!</h5>
      <span class="text-muted">Links to pages that you may find useful</span>
      <li class="white-link"><%= link_to 'Home', root_path %></li>
      <li class="white-link"><%= link_to 'My profile', current_user %></li>
      <li class="white-link"><%= link_to 'Edit profile', edit_user_path(current_user) %></li>
      <li class="white-link"><%= link_to 'Other users', users_path %></li>
      <li class="divider"></li>
      <li class="white-link"><%= link_to 'Display mode', display_path %></li>
      <li class="divider"></li>
      <li class="white-link"><%= link_to 'Log out', logout_path, method: 'delete' %></li>
    <% end %>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to image_tag("cyhoeddwn_favicon_big_transparent.png", size: "40"), root_path %>
    <% if logged_in? %>
      <button class="navbar-toggler small" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
          <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
        </svg>
      </button>
    <% end %>
  </div>
</nav>
